bin/
obj/
.vs/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
AnyCPU/

.idea/
.vscode/

*.user
*.suo
*.userosscache
*.sln.docstates

**/bin/Release/**
**/bin/Debug/**
**/publish/
**/win-x64/

Output/
*.iss.bak

*.log
*.tmp
*.temp
Thumbs.db
.DS_Store
desktop.ini

*.exe
*.msi
